@CHARSET "ISO-8859-1";

*{
    font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.5px;
}

p{
	line-height: 20px;
}

body {
	top: 0;
	margin: 0;
	
}

.topbar{
	color: white;
	list-style-type: none;
	background-color: black;
	padding: 1px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.topbar li{
	display: inline;
	padding: 8px;
	float: left;	
}
.topbar ul{
	margin: 0;
	padding: 0;	
}

.topbar a{
    color: white;
    text-decoration: none;
}

header{
	background-image: url("assets/img/header_bg2.jpg");
	background-position:center;
	background-size: cover;
	height: 500px;
	padding-top: 200px;
}

header p{
	display: block;
	text-align: center;
	font-size: 38px;
	text-shadow: 2px 2px white;
}

.aboutme{
	text-align: center;
}

.aboutme hr{
	margin-left: 25%;
	margin-right: 25%;
}

.aboutme p{
	text-align: left;
	margin-left: 200px;
	margin-right: 200px;
}

.designer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url("assets/img/bg/divider12.png");
	background-position:center;
	background-size: cover;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
	color: white;
	text-shadow: 1px 2px black;
}

.designer h1{
	padding-top: 25px;
	font-size: 35px;
}

.designer p{
	max-width: 50%;
	padding-top: 25px;
	font-size: 20px;
}

.designer hr{
	margin: 0;
}

.brack{
	color: white;
	background-color: black;
	text-align: center;
	height: 350px;
}

.brack h1{
	margin-top: 0;
	padding-top: 100px;
    font-size: 35px;
}

.brack p{
    font-size: 20px;
}

.brack hr{
    margin-left: 30%;
    margin-right: 30%;
}

.cancer{
	background: linear-gradient(white, gainsboro);
    text-align: center;
	padding-bottom: 50px;
	border-bottom: solid gray 1px;
}

.cancer h1{
	margin-top: 0;
	font-size: 35px;
	padding-top: 40px;
}

.fboxes {
    height: 400px;
    max-width: 60%;
	margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.aytml, .seess, .jawa, .whitep{
	display: flex;
	flex-direction: column;
    max-width: 200px;
	min-width: 150px;
	max-height: 400px;
	align-self: flex-end;
	justify-content: flex-end;
}

.aytml{
    border: solid darkblue 1px;
    background: linear-gradient(aqua,blue);
	height: 380px;
}

.seess{
    border: solid red 1px;
    background: linear-gradient(pink, palevioletred);
	height: 320px;
}

.jawa{
    border: solid lightyellow 1px;
    background: linear-gradient(yellow, red);
	height: 360px;
}

.whitep{
    border: solid brown 1px;
    background-color: sandybrown;
	height: 320px;
}

.numb{
	color: white;
	opacity: 0.5;
	font-size: 48px;
}

.numb2{
	padding-bottom: 25px;
	color: white;
	font-size: 18px;
}

.portfolio{
	text-align: center;
}

.cstuff h1{
	margin-top: 0;
	font-size: 35px;
	padding-top: 80px;
}

.cstuff hr{
	margin-left: 30%;
	margin-right: 30%;
}

.selectors{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 60%;
	margin: 50px auto;
}

.click{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-size: 20px;
	width: 200px;
	height: 50px;
	background-color: deepskyblue;
}

.click:hover{
	background-color: greenyellow;
}

.designpics{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	flex-shrink: 0;
	width: 100%;
	height: 600px;
	margin: auto 0;
}

.examplepics{
	display: flex;
	flex-shrink: 0;
	max-height: 200px;
	max-width: 25%;
	margin-right: 10px;
}

.examplepics img{
	display: flex;
	flex-shrink: 0;
	width: 250px;
	height: auto;
}

.examplepics h5{
	margin-top: 0;
	background-color: deepskyblue;
}

.blog {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.textblog{
	display: flex;
	flex-direction: row;
}

.stories{
	display: flex;
	flex-direction: row;
}

.profile{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;
	background-color: dimgray;
	color: white;
	text-align: center;
}

.profile h4,h5 {
	width: 120px;
	margin: 5px auto;
}

.profile h4{
	font-size: 14px;
}

.profile h5{
	font-size: 10px;
}

.blogstories{
	padding-left: 10px;
}

.blogstories p{
	font-size: 14px;
}

.blogstories a{
	text-decoration: none;
}

.exampleblog{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.readmore{
	list-style-type: none;
	background-color: dimgray;
	color: white;
	text-align: left;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
	width: 150px;
	padding-left: 10px;
}

.readmore h5{
	font-size: 10px;
}

.readmore p{
	font-size: 14px;
}

.readmore a{
	text-decoration: none;
	font-size: 14px;
}

.zuripic{
	display: flex;
	flex-direction: column;
	height: 450px;
	background-attachment: scroll;
	background-size: cover;
	background-image: url("assets/img/bg/divider661.jpg");
	background-position: center;
	background-repeat: no-repeat;
}
.crafted{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: auto 0;
	text-shadow: 1px 2px black;
}

.crafted h1{
	max-width: 100%;
	max-height: 50%;
	font-size: 24px;
	color: white;
	text-align:center;
}

.crafted p{
	max-width: 75%;
	font-size: 18px;
	color: white;
	text-align:center;
}