@CHARSET "ISO-8859-1";

*{
    font-family: 'Roboto', sans-serif
}

body {
	top: 0;
	margin: 0;
	
}

.topbar{
	color: white;
	list-style-type: none;
	background-color: black;
	padding: 1px;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.topbar li{
	display: inline;
	padding: 8px;
	float: left;	
}
.topbar ul{
	margin: 0;
	padding: 0;	
}

.topbar a{
    color: white;
    text-decoration: none;
}

header{
	background-image: url("assets/img/header_bg2.jpg");
	background-position:center;
	background-size: cover;
	height: 500px;
	padding-top: 200px;
}

header p{
	display: block;
	text-align: center;
	font-size: 38px;
	text-shadow: 2px 2px white;
}

.aboutme{
	text-align: center;
}

.aboutme hr{
	margin-left: 25%;
	margin-right: 25%;
}

.aboutme p{
	text-align: left;
	margin-left: 200px;
	margin-right: 200px;
}

.designer {
	background-image: url("assets/img/bg/divider12.png");
	background-position:center;
	background-size: cover;
	height: 250px;
	text-align: center;
	color: white;
	text-shadow: 1px 2px black;
}

.designer h1{
	padding-top: 25px;
	font-size: 35px;
}

.designer p{
	margin-left: 300px;
	margin-right: 300px;
	padding-top: 25px;
	font-size: 20px;
}

.designer hr{
	margin-left: 30%;
	margin-right: 30%;
}

.brack{
	color: white;
	background-color: black;
	text-align: center;
	height: 350px;
}

.brack h1{
	margin-top: 0;
	padding-top: 100px;
    font-size: 35px;
}

.brack p{
    font-size: 20px;
}

.brack hr{
    margin-left: 30%;
    margin-right: 30%;
}

.cancer{
    text-align: center;
}

.ninefive{
    padding-top: 250px;
}

.fboxes {
    height: 300px;
    width: 76%;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.aytml, .seess, .jawa, .whitep{
    max-width: 250px;
}

.aytml{
    border: solid darkblue 1px;
    background: linear-gradient(aqua,blue);
}

.seess{
    border: solid red 1px;
    background: linear-gradient(orange, orangered);
}

.jawa{
    border: solid lightyellow 1px;
    background: linear-gradient(yellow, red);
}

.whitep{
    border: solid brown 1px;
    background-color: sandybrown;
}